header {
  // background-size: cover;
  height: 20vh;
  width: 100vw;
  background-color: white;
  opacity: none;
  @include max(768px) {
    // background: url(/images/mobile/image-hero.jpg);
    height: 20vh;
    // background-size: cover;
    // background-repeat: no-repeat;
  }
  nav {
    @include flex(inline-block, center, space-evenly);
    width: 100vw;
    height: 10vh;
    background-color: white;
    opacity: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(202, 202, 202);
    .navbar {
      @include max(768px) {
        padding-top: 1rem;
      }
      #logo-wrapper {
        width: 15rem;
        .logo img {
          margin: 2rem;
          z-index: 100;
        }
      }
      form {
        .area {
          border: 1px solid red;
          //   border-radius: 50px;
          height: 25px;
          width: 200px;
          font-size: 12px;
          padding: 10px;
          &:focus {
            outline: none;
          }
        }
      }
    }

    .navbar {
      width: 100vw;
      height: 10vh;
      background-color: transparent;
      border-left: 30px solid white;
      border-right: 30px solid white;
    }
    &__links {
      ul {
        @include flex(row, center, none);
        margin-top: 9px;
      }
      li {
        font-size: 100px;
        font-weight: 700;
        letter-spacing: 0.6px;
        margin-top: 2px;
        &:not(:last-child) {
          margin-right: 31.5px;
        }
        &:last-child {
          margin-right: 0px;
        }
        a {
          color: black;
          position: relative;
          //   &::after {
          //     content: "";
          //     display: block;
          //     width: 100%;
          //     height: 2px;
          //     background-color: white;
          //     margin-top: 7px;
          //     transform: scaleX(0);
          //     transition: 0.3s ease-in-out;
          //   }
          //   &:hover::after {
          //     width: 100%;
          //     transform: scaleX(1);
          //   }
          // }
        }
        @include max(768px) {
          display: none;
        }
      }
    }
  }
}
