@import url("https://fonts.googleapis.com/css2?family=News+Cycle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=News+Cycle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200&family=Montserrat:wght@200&family=News+Cycle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
// font-family: 'Montserrat', sans-serif;
// font-family: 'News Cycle', sans-serif;
// font-family: 'Catamaran', sans-serif;
// font-family: 'Pacifico', cursive;

$NewsCycle: "News Cycle", sans-serif;
$Montserrat: "Montserrat", sans-serif;
$Catamaran: "Catamaran", sans-serif;
$Pacifico: "Pacifico", cursive;
